{% extends "base.html" %}
{% block header %}
<style>
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .gg-lock {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 1));
        width: 12px;
        height: 11px;
        border: 2px solid;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom: transparent;
        margin-top: -12px
    }

    .gg-lock::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 16px;
        height: 10px;
        border-radius: 2px;
        border: 2px solid transparent;
        box-shadow: 0 0 0 2px;
        left: -4px;
        top: 9px
    }

    .gg-user {
        display: block;
        transform: scale(var(--ggs, 1));
        box-sizing: border-box;
        width: 12px;
        height: 18px
    }

    .gg-user::after,
    .gg-user::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border: 2px solid
    }

    .gg-user::before {
        width: 8px;
        height: 8px;
        border-radius: 30px;
        top: 0;
        left: 2px
    }

    .gg-user::after {
        width: 12px;
        height: 9px;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        top: 9px
    }
</style>
{% endblock %}

{% block title %}{{title}}{% endblock %}


{% block content %}
{% if local %}
{% for i,(key,slot_list) in enumerate(data.items()) %}
<div class="card m-2" style="width: 26rem;">
    <div class="card-header">
        <p class="h5">{{ key }}</p>
    </div>
    <ul class="list-group list-group-flush">
        {% for j,slot_elem in enumerate(slot_list) %}
        <li class="list-group-item">
            <div class="container">
                <div>
                    <p class="card-text h6" style="line-height: 31px;">{{slot_elem[0]}}</p>
                </div>
                <div style="float: right;">
                    <button class="btn btn-success btn-sm kbtn" value="loc{{i}}{{j}}">Book</button>
                    <input type="hidden" class="loc{{i}}{{j}}" value="{{key}}" />
                    <input type="hidden" class="loc{{i}}{{j}}" value="{{slot_elem[1]}}" />
                    <input type="hidden" class="loc{{i}}{{j}}" value="{{slot_elem[2]}}" />
                    <input type="hidden" class="loc{{i}}{{j}}" value="{{slot_elem[3]}}" />
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}


<div id="myModal" class="modal">
    <div class="modal-content modal-dialog">
        <span class="close text-right">&times;</span>
        <article class="card-body">
            <form id="fform">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="gg-user"></i> </span>
                        </div>
                        <input id="user" class="form-control" placeholder="Email or login" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="gg-lock"></i> </span>
                        </div>
                        <input id="pass" class="form-control" placeholder="******" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <button id="submit_data" type="submit" class="btn btn-primary btn-block"> Submit </button>
                </div>
            </form>
        </article>
    </div>
</div>
{% else %}
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">
        <h5 class="card-title">Only accessible from local network!</h5>
    </div>
</div>
{%endif%}
{% endblock %}

{% block script %}
{% if local %}
<script type="text/javascript">
    var data = [];
    var modal = document.getElementById("myModal");
    document.getElementsByClassName("close")[0].onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    $(".kbtn").click(function () {
        data = []
        var htmlcollection = document.getElementsByClassName($(this).val());
        data.push(
            htmlcollection[0].value,
            htmlcollection[1].value,
            htmlcollection[2].value ? htmlcollection[2].value : null,
            htmlcollection[3].value === "True");
        if (data[2] === null) {
            // next date is incremented since slot is opened 24h before. Remove 30s to add some wiggleroom.
            var slot_date = new Date(data[1]);
            var next_date = new Date(Date.now() + 24 * 60 * 60 * 1000 - 30 * 1000);
            var seconds = (slot_date - next_date) / 1000;
        } else if (!data[3]) {
            var seconds = 90
        }
        modal.style.display = "block";
    });

    // Submit data
    $("#fform").submit(function (e) {
        e.preventDefault();
        if (document.forms["fform"]["pass"].value == "") {
            alert("Name must be filled out");
            return false;
        };
        return false;
    });
</script>
{%endif%}
{% endblock %}