{% extends "base.html" %} {% block header %}
<style>
    .success {
        color: #3d9b3f;
        background-color: #c1e6b4;
        border-color: #d6e9c6;
        display: none;
    }

    .col1 {
        width: 14rem;
    }
</style>{% endblock %} {% block title %}{{title}}{% endblock %} {% block content %}

<div class="row g-0">
    <div class="col-2 col1">
        <div class="card m-2 bg-light shadow text-center">
            <h5 class="card-header">Air Pressure</h5>
            <div class="card-body">
                <p id="press" class="d-inline">{{data[2][2]|round(1)}}</p>hPa
            </div>
        </div>
        <div class="card m-2 bg-light shadow text-center">
            <h5 class="card-header">Humidity</h5>
            <div class="card-body">
                <p id="humid" class="d-inline">{{data[2][1]|round(1)}}</p>%
            </div>
        </div>
        <div class="card m-2 bg-light shadow text-center">
            <h5 class="card-header">Temperatures</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kitchen:
                    <p id="ktemp" class="d-inline">{{data[2][0]|round(1)}}</p>°C
                </li>
                <li class="list-group-item">Balcony:
                    <p id="btemp" class="d-inline">{{data[1][1]|round(1)}}</p>°C
                </li>
                <li class="list-group-item">Outdoors:
                    <p id="otemp" class="d-inline">{{data[3]|round(1)}}</p>°C
                </li>
            </ul>
        </div>
    </div>
    <div class="col-2 col2">
        <div class="card-group mt-2 shadow text-center" style="width: 24rem;">
            <div class="card">
                <div class="card-header h6">Full light</div>
                <div class="card-body" id="full_light_status">{{rel_status[0]}}</div>
            </div>
            <div class="card">
                <div class="card-header h6">Low light</div>
                <div class="card-body" id="low_light_status">{{rel_status[1]}}</div>
            </div>
            <div class="card">
                <div class="card-header h6">Heater</div>
                <div class="card-body" id="heater_status">{{rel_status[3]}}</div>
            </div>
        </div>
        {% if local %}
        <div class="btn-group mt-2" role="group" style="width: 18rem;">
            <button type="button" class="btn btn-warning cbutton" id="full_light" value="on">Full light</button>
            <button type="button" class="btn btn-warning cbutton" id="low_light" value="on">Low light</button>
            <button type="button" class="btn btn-warning cbutton" id="heater" value="on">Heater</button>
        </div><br style="clear: both;">
        <div class="btn-group mt-2" role="group" style="width: 24rem;">
            <button type="button" class="btn btn-danger cbutton" id="full_light" value="off">Full light off</button>
            <button type="button" class="btn btn-danger cbutton" id="low_light" value="off">Low light off</button>
            <button type="button" class="btn btn-danger cbutton" id="heater" value="off">Heater off</button>
            <button type="button" class="btn btn-danger cbutton" id="alloff" value="off">Everything off</button>
        </div>
        <div class="card mt-2 success">
            <div class="card-body h5">Command sent.</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %} {% block script %} {% if local %}
<script type="text/javascript">
    $(".cbutton").click(function () {
        $.ajax({
            type: "POST",
            url: "{{ url_for('views.post_command') }}",
            data: {
                entity: $(this).attr('id'),
                command: $(this).val()
            },
            success: $("div.success").fadeIn(300).delay(2500).fadeOut(500),
        });
        return false;
    });
    setInterval(function () {
        $.getJSON("{{ url_for('views.home_status') }}", function (data) {
            document.getElementById("press").innerHTML = Math.round(data['kitchen/temphumidpress'][2] * 10) / 10;
            document.getElementById("humid").innerHTML = Math.round(data['kitchen/temphumidpress'][1] * 10) / 10;
            document.getElementById("ktemp").innerHTML = Math.round(data['kitchen/temphumidpress'][0] * 10) / 10;
            document.getElementById("btemp").innerHTML = Math.round(data['balcony/temphumid'][0] * 10) / 10;
            document.getElementById("otemp").innerHTML = Math.round(data['bikeroom/temp'] * 10) / 10;
            document.getElementById("full_light_status").innerHTML = (data['balcony/relaystatus'][0] <= 0) ? "Inactive" : "Active";
            document.getElementById("low_light_status").innerHTML = (data['balcony/relaystatus'][1] <= 0) ? "Inactive" : "Active";
            document.getElementById("heater_status").innerHTML = (data['balcony/relaystatus'][3] <= 0) ? "Inactive" : "Active";
        });
    }, 5000);
</script>{%endif%} {% endblock %}